* {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 50%;
}

.card {
    width: 100%;
    background-color: #efefef;
    border: none;
    cursor: pointer;
}

.name {
    font-size: 22px;
    padding: 10px, 0px;
    font-weight: bold;
}

.profile-content {
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
}

.btn1 {
    height: 50px;
    width: 150px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.text span {
    font-size: 16px;
    color: black;
    font-weight: 500;
}

#button {
    padding-top: 30px;
}

.container {
    min-width: 300px;
}

h1 {
    font-weight: bold;
}

