
/* CSS for Profile Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}

#profile {
    padding: 30px 0px;
    margin: 30px 0px 20px 0px;
    border: black 1px solid;
    width: 50%;
    justify-content: center;
    border-radius: 20px;
}

#profile_photo {
    display: flex;
    justify-content: center;
}

#profile-div {
    border: 1px black solid;
    margin: 20px;
    padding: 20px;
    width: 94%;
    background-color: lightgrey;
    border-radius: 20px;
}

label {
    font-size: 16px;
    font-weight: bold
}

#button {
    justify-content:;
}

#name {
    font-weight: bold;
    padding: 20px 0px 5px 0px;
}

#country_lang {
    font-weight: bold;
    padding: 5px 0px;
}

#biography {
    float: left;
    text-align: right;
}

#main_profile {
    float: left;
    text-align: right;
}
