<section class="footer__category" aria-label="Support">
    <div class="footer__category-wrapper">
        <h3 class="footer__header">Support</h3>
        <a class="footer__item" href="#">FAQs</a>
        <a class="footer__item" href="#">Contact Us</a>
    </div>
</section>
<section class="footer__category" aria-label="Discover">
    <div class="footer__category-wrapper">
        <h3 class="footer__header">Discover</h3>
        <a class="footer__item" href="/html/card_info_template.html">Explore</a>
    </div>
</section>
<section class="footer__category" aria-label="About">
    <div class="footer__category-wrapper">
        <h3 class="footer__header">About</h3>
        <a class="footer__item" href="#">About Us</a>
    </div>
</section>