<span class="navbar__hamburger">
    <img class="navbar__hamburger-icon" src="https://via.placeholder.com/50">
</span>
<h1 class="navbar__title"><a href="/html/main.html">Comidas</a></h1>
<span class="navbar__items">
    <a class="navbar__item" href="/html/main.html">Home</a>
    <a class="navbar__item" href="/html/card_info_template.html">Explore</a>
    <a class="navbar__item" href="#">Messages</a>
</span>
<span class="navbar__profile">
    <a href="#"><img class="navbar__profile-icon" src="https://via.placeholder.com/50" alt=""></a>
</span>