/* Contains styles used throughout the entire website */

:root {
    --bs-dark-rgb: 0, 0, 50
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: grid;
    grid-template-rows: [navigation] min-content 1fr [footer] min-content;
    height: 100vh;
}

.navbar {
    z-index: 2;
}

.footer {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(max-content, 175px)) 1fr;
    grid-template-areas: "_ footer__category--support footer__category--discover footer__category--about __";
    grid-gap: 16px;
    width: 100%;
    background-color: #000032;
    color: white;
    grid-row: footer / span 1;
}

.footer__category {
    display: flex;
    padding: 16px 0;
    justify-content: center;
}

.footer__category-wrapper {
    display: inline-flex;
    flex-direction: column;
}

.footer__category[aria-label=support i] {
    grid-area: footer__category--support;
}

.footer__category[aria-label=discover i] {
    grid-area: footer__category--discover;
}

.footer__category[aria-label=about i] {
    grid-area: footer__category--about;
}

.footer__header {
    margin-top: 0;
}

.footer__item {
    color: inherit;
}

.btn-primary {
    background-color: #000032;
}